<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs')%>
</head>

<body>
  <%- include('partials/header.ejs')%>
    <h1>Olá mundo!</h1>
    <h2>Teste</h2>


    <%- include('partials/footer.ejs')%>
      <%- include('partials/foot.ejs')%>
</body>

</html>